@import url(fonts.css);
@import url(normalize.css);
@import url(bootstrap-grid.css);

* {
  font-family: "Proxima Nova", sans-serif;
}
body {
  background: #fff;
  overflow-x: hidden;
}
.wrapper {
  max-width: 1140px;
  padding: 0 15px;
  margin: 0 auto;
}
.btn {
  display: block;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  cursor: pointer;
  box-shadow: 0 5px 7px #984b00;
  border-radius: 5px;
  background-color: #fa7c00;
  background-image: linear-gradient(to bottom, rgba(174, 86, 0, 0.2) 0%, rgba(250, 124, 0, 0.2) 100%);
}
.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


/*Header*/
.top-menu__container {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #fa7c00;
}
.top-menu__item {
  display: flex;
  align-items: center;
  min-height: 23px;
  line-height: 23px;
  color: #ffffff;
  font-size: 1rem;
  font-weight: 500;
}
.top-menu__item i {
  display: block;
  margin-right: 8px;
  margin-bottom: 2px;
}
.top-menu__item--calc i {
  width: 19px;
  height: 22px;
  background: url(../images/svg/calculator.svg) no-repeat center;
  background-size: 19px 22px;
}
.top-menu__item--deliv i {
  width: 33px;
  height: 18px;
  background: url(../images/svg/delivery.svg) no-repeat center;
  background-size: 35px 20px;
}
.top-menu__item--zamer i {
  width: 23px;
  height: 23px;
  background: url(../images/svg/zamer.svg) no-repeat center;
  background-size: 25px 25px;
}
.top-menu__item--address i {
  width: 16px;
  height: 22px;
  background: url(../images/svg/address.svg) no-repeat center;
  background-size: 18px 24px;
}
.top-menu__item--mail i {
  width: 22px;
  height: 15px;
  background: url(../images/svg/mail.svg) no-repeat center;
  background-size: 24px 17px;
}
.top-menu__item:hover span {
  text-decoration: underline;
}
.top-menu-btn-cart {
  display: flex;
  width: 20%;
  padding-left: 10px;
  background-color: #085d95;
  background-image: linear-gradient(to bottom, #085d95 0%, #00416b 100%);
}
.top-menu__btn {
  display: flex;
  flex-grow: 2;
  align-items: center;
  text-align: center;
  justify-content: center;
  height: 46px;
  color: #ffffff;
  font-size: 1rem;
  font-weight: 700;
  cursor: pointer;
}
.top-menu__btn span {
  display: block;
  position: relative;
  
}
.top-menu__btn--top {
  font-size: 1rem;
}
.top-menu__btn--top span {
  left: -15px;
}
.top-menu__btn i {
  display: block;
  flex-shrink: 0;
  margin-right: 7px;
  width: 24px;
  height: 24px;
  background: url(../images/svg/phone-white.svg) no-repeat center;
  background-size: 24px 24px;
}
.top-menu__phone_link {
  display: block;
  color: #ffffff;
  font-family: "Proxima Nova";
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 21px;
}
.top-menu__phone_drop .top-menu__phone_link {
  font-size: 1rem;
}
.top-menu__phone_link:hover {
  text-decoration: underline;
}
.top-menu__phone_arrow {
  display: block;
  width: 15px;
  height: 15px;
  background: url(../images/svg/arrow-down.svg) no-repeat center;
  background-size: 15px auto;
  margin-right: 7px;
}
.top-menu__phone {
  position: relative;
  height: 35px;
  display: flex;
  align-items: center;
}
.top-menu__phone_drop {
  position: absolute;
  top: 110%;
  right: 0;
  width: 170px;
  box-sizing: border-box;
  padding: 20px 10px 20px 20px;
  border-radius: 5px;
  background-color: #085d95;
  opacity: 0;
  visibility: hidden;
  transition: .15s ease-in-out;
}
.top-menu__phone:hover .top-menu__phone_drop {
  opacity: 1;
  visibility: visible;
  top: 92%;
}
.top-menu__phone_drop::before {
  position: absolute;
  width: 10px;
  height: 10px;
  transform: rotate(45deg);
  content: '';
  background-color: #085d95;
  left: 25px;
  top: -5px;  
}


.header-content {
  padding: 70px 0 25px;
}
.header-content__text {
  display: block;
  text-align: center;
  color: #085d95;
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 18px;
}
.header-content__time {
  display: block;
  color: #4a4a4a;
  font-size: 1rem;
  font-weight: 400;
  line-height: 18px;
  padding-left: 43px;
  background: url(../images/svg/calendar.svg) no-repeat center left;
  background-size: 32px 32px;
}
.header-content__time b {
  display: block;
  text-transform: uppercase;
  font-weight: 500;
}
.header-content__btn {
  width: 16%;
  padding: 0 12px;
  box-sizing: border-box;
  height: 63px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  font-size: .875rem;
  font-weight: 500;
  line-height: 18px;
}
.header-content__btn i {
  display: block;
  width: 32px;
  height: 32px;
  margin-right: 11px;
  background: url(../images/svg/call-zam.svg) no-repeat center;
  background-size: 34px 34px;
  flex-shrink: 0;
}

.menu-container {
  box-shadow: 0 5px 5px rgba(25, 25, 23, 0.45);
  background-color: #085d95;
}
.menu__wrapper {
  height: 54px;
}
.menu {
  height: 54px;
}
.menu__catalog {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 18.6%;
  height: 100%;
  background-color: #fa7c00;
  background-image: linear-gradient(to bottom, #fa7c00 0%, #d25e00 100%);
  color: #ffffff;
  font-size: 1.375rem;
  font-weight: 700;
  cursor: pointer;
}
.menu__catalog i {
  display: block;
  position: relative;
  width: 21px;
  height: 4px;
  background: #fff;
  margin-right: 11px;
}
.menu__catalog i::before {
  content: '';
  position: absolute;
  top: -7px;
  left: 0;
  width: 21px;
  height: 4px;
  background: #fff;
}
.menu__catalog i::after {
  content: '';
  position: absolute;
  bottom: -7px;
  left: 0;
  width: 21px;
  height: 4px;
  background: #fff;
}
.cart {
  position: relative;
  width: 65px;
  flex-shrink: 0;
  height: 54px;
  background: url(../images/svg/cart.svg) no-repeat center, #fa7c00;
  background-size: 34px 34px;
  cursor: pointer;
}
.cart.cart--top {
  height: 46px;
  background-color: transparent;
  background-size: 30px auto;
}
.cart__count {
  position: absolute;
  top: 6px;
  right: 7px;
  width: 16px;
  height: 16px;
  background-color: #085d95;
  text-align: center;
  border-radius: 100%;
  color: #ffffff;
  font-size: .625rem;
  font-weight: 500;
  line-height: 16px;
}
.cart--top .cart__count {
  background-color: #fa7c00;
}
.menu__links {
  display: flex;
  justify-content: space-between;
  flex-grow: 2;
  padding: 0 60px;
}
.menu__item {
  color: #ffffff;
  font-size: 1.125rem;
  line-height: 28px;
  font-weight: 600;
}
.menu__item:hover {
  text-decoration: underline;
}


/*Drop menu*/
.menu__drop {
  display: flex;
  width: 100%;
  height: 62px;
  padding: 0 15px;
  box-sizing: border-box;
  border: 1px solid #c1c1c1;
  background-color: #ffffff;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  transition: .1s ease-in-out;
}
.menu__drop--show {
  opacity: 1;
  visibility: visible;
}
.menu__drop_link {
  display: flex;
  align-items: center;
  min-height: 23px;
  padding-left: 30px;
  cursor: pointer;
  color: #000000;
  font-size: .875rem;
  font-weight: 500;
}
.menu__drop_link:hover, .drop--active {
  color: #fa7c00;
}
.menu__drop_link::after {
  width: 6px;
  height: 6px;
  display: inline-block;
  margin-left: 7px;
  content: '';
  background: url(../images/icons/drop-a.png) no-repeat center;
}
.menu__drop_link:hover::after, .drop--active::after {
  background: url(../images/icons/drop-a-hover-h.png) no-repeat center;
}
.menu__drop_item > .menu__drop_link:hover::after, .menu__drop_item > .drop--active::after {
  background: url(../images/icons/drop-a-hover.png) no-repeat center;
  width: 6px;
  height: 8px;
}
.menu__drop_link--roll {
  background: url(../images/svg/rollstavni.svg) no-repeat center left;
}
.menu__drop_link--svet {
  background: url(../images/svg/sv-roll.svg) no-repeat center left;
}
.menu__drop_link--shlag {
  background: url(../images/svg/shlagbaum.svg) no-repeat left -2px;
}
.menu__drop_link--vorota {
  background: url(../images/svg/vorota.svg) no-repeat left -2px;
}
.menu__drop_link--stal {
  background: url(../images/svg/st-roll.svg) no-repeat center left;
}
.menu__drop_link--plast {
  background: url(../images/svg/st-roll.svg) no-repeat center left;
}

.drop {
  position: absolute;
  top: 100%;
  left: 0;
  width: 33.62%;
  height: 436px;
  border: 1px solid #c1c1c1;
  background-color: #ffffff;
  box-sizing: border-box;
  padding: 25px 20px 25px 33px;
  opacity: 0;
  visibility: hidden;
  transition: .1s ease-in-out;
}
.drop-container {
  overflow-y: auto;
}
.drop__item_link, .drop2__item_link, .drop2__item_link--sub {
  display: block;
  margin-bottom: 15px;
  color: #000000;
  font-size: .875rem;
  font-weight: 500;
  line-height: 16px;
  background: url(../images/icons/drop-a.png) no-repeat center right;
  cursor: pointer;
}
.drop__item_link:hover, .drop2__item_link:hover, .drop--active2 {
  color: #fa7c00;
  background: url(../images/icons/drop-a-hover-h.png) no-repeat center right;
}

.drop2__item_link--sub {
  padding-left: 15px;
  background: none;
  margin-bottom: 10px;
  margin-top: -5px;
}
.drop2__item_link--sub:hover {
  background: none;
}
.drop2 {
  position: absolute;
  top: 0;
  left: 100%;
  width: 100%;
  height: 436px;
  border: 1px solid #c1c1c1;
  border-top: none;
  background-color: #ffffff;
  box-sizing: border-box;
  padding: 25px 20px 25px 33px;
  opacity: 0;
  visibility: hidden;
  transition: .1s ease-in-out;
}
.drop2-container {
  overflow-y: auto;
}
.drop-card {
  position: absolute;
  top: 0;
  left: 100%;
  width: 100%;
  height: 436px;
  border: 1px solid #c1c1c1;
  border-top: none;
  background-color: #ffffff;
  box-sizing: border-box;
  padding: 12px 12px 0;
  opacity: 0;
  visibility: hidden;
  transition: .1s ease-in-out;
}
.drop-card-container {
  height: 100%;
  overflow-y: auto;
}
.drop-card-container::-webkit-scrollbar { width: 6px; height: 3px;}
.drop-card-container::-webkit-scrollbar-button {  display: none; }
.drop-card-container::-webkit-scrollbar-track {  background-color: #c1c1c1;}
.drop-card-container::-webkit-scrollbar-track-piece { background-color: #ffffff;}
.drop-card-container::-webkit-scrollbar-thumb { height: 20px; background-color: #c1c1c1; border-radius: 3px;}
.drop-card-container::-webkit-scrollbar-corner { background-color: #c1c1c1;}
.drop-card-container::-webkit-resizer { display: none;}
.drop-card__img {
  height: 173px;
  margin-bottom: 20px;
}
.drop-card__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.drop-card__tth {
  text-align: center;
  margin-bottom: 10px;
}
.drop-card__tth span {
  display: block;
  color: #000000;
  font-size: .875rem;
  font-weight: 500;
  line-height: 22px;
}
.drop-card__sale_title {
  color: #c22d2d;
  display: block;
  text-align: center;
  font-size: 1.125rem;
  font-weight: 700;
}
.drop-card__sale-flex {
  display: flex;
  align-items: center;
  justify-content: center;
}
.drop-card__old-price {
  color: #c22d2d;
  font-size: 1.125rem;
  font-weight: 700;
  line-height: 22px;
  margin: 0 15px;
  display: inline-block;
  position: relative;
}
.drop-card__old-price span {
  font-family: 'Tahoma';
  color: #000000;
  font-size: 1rem;
  font-weight: 500;
}
.drop-card__old-price::after {
  position: absolute;
  top: 12px;
  left: 0;
  width: 100%;
  height: 1px;
  background: #000;
  content: '';
}
.drop-card__new-price {
  color: #c22d2d;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 22px;
}
.drop-card__new-price span {
  font-family: 'Tahoma';
  color: #000000;
  font-size: 1.25rem;
  font-weight: 600;
}
.drop-card__btns {
  padding: 9px 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.drop-card__btn-more {
  display: flex;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #ffffff;
  font-size: .625rem;
  font-weight: 500;
  text-transform: uppercase;
  width: 48%;
  height: 40px;
  box-shadow: 0 5px 7px #13649a;
  border-radius: 5px;
  background-color: #2980b9;
  background-image: linear-gradient(to bottom, rgba(13, 61, 93, 0.2) 0%, rgba(31, 92, 132, 0.2) 100%);
}
.drop-card__btn-call {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 48%;
  height: 40px;
  box-shadow: 0 5px 7px #984b00;
  border-radius: 5px;
  background-color: #fa7c00;
  background-image: linear-gradient(to bottom, rgba(174, 86, 0, 0.2) 0%, rgba(250, 124, 0, 0.2) 100%);
  color: #ffffff;
  font-size: .625rem;
  font-weight: 500;
  text-transform: uppercase;
  cursor: pointer;
}
.drop--show {
  opacity: 1;
  visibility: visible;
}









/*Banner*/
.banner {
  height: 500px;
  position: relative;
}
.banner__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.banner__content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.banner__wrapper {
  height: 100%;
  display: flex;
  align-items: center;
}
.offer__slider {
  width: 700px;
  display: flex;
  overflow: hidden;
}
.offer {
  width: 100%;
  flex-shrink: 0;
  display: inline-block;
  padding: 40px 48px 48px;
  background: rgba(8, 93, 149, .75);
  box-sizing: border-box;
}
.offer__title {
  text-shadow: 0 5px 5px rgba(0, 0, 0, 0.75);
  color: #ffffff;
  font-size: 3rem;
  font-weight: 800;
  line-height: 46.91px;
  text-transform: uppercase;
  margin: 0 0 15px;
}
.offer__span1 {
  display: block;
  color: #ffffff;
  font-size: 1.875rem;
  font-weight: 700;
}
.offer__span2 {
  display: block;
  color: #ffffff;
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 24px;
  margin-bottom: 20px;
}
.offer__text {
  display: block;
  color: #ffffff;
  font-size: 1.875rem;
  font-weight: 700;
  line-height: 24px;
}
.offer__text span {
  color: #fa7c00;
  font-size: 1rem;
  text-transform: uppercase;
}
.offer__btn {
  width: 256px;
  height: 63px;
  line-height: 63px;
  margin-right: 15px;
  color: #ffffff;
  font-size: 1.25rem;
  font-weight: 500;
  text-transform: uppercase;
}
.offer__btn--white {
  background: #fff;
  box-shadow: none;
  color: #00416b;
}
.offer__btn i {
  display: inline-block;
  margin-right: 7px;
  width: 17px;
  height: 16px;
  background: url(../images/svg/phone-white.svg) no-repeat center;
  background-size: 19px auto;
}
.offer__btn-flex {
  display: flex;
  padding-top: 25px;
  align-items: center;
}
.offer__slider .slick-dots {
  position: absolute;
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  width: 100%;
  left: 0;
  bottom: 10px;
}
.offer__slider .slick-dots button {
  display: block;
  box-sizing: border-box;
  width: 15px;
  height: 15px;
  margin: 0 4px;
  border: 2px solid #fff;
  border-radius: 100%;
  font-size: 0;
  color: transparent;
  background: #fff;
  outline: none;
  cursor: pointer;
}
.offer__slider .slick-dots .slick-active button {
  background: #eb7500;
  border: 2px solid #eb7500;
}
.offer__slider .slick-dots button:hover {
  background: #eb7500;
}





/*Products*/
.products {
  padding: 65px 0 70px;
}
.title {
  text-align: center;
  color: #1f5c84;
  font-size: 2.25rem;
  font-weight: 800;
  line-height: 36px;
  text-transform: uppercase;
  margin: 0 0 30px;
}
.products__list {
  padding-top: 30px;
}
.product__container {
  padding: 0 15px 30px;
  height: 100%;
}
.product__item {
  background: #fff;
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 30px 0;
  cursor: default;
  transition: .1s ease-in-out;
  text-align: center;
}
.product__item:hover {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.25);
}
.product__item_name {
  margin: 0 0 5px;
  padding: 0 30px;
  color: #1f5c84;
  font-size: 1.125rem;
  font-weight: 700;
  line-height: 18px;
  text-transform: uppercase;
}
.product__item_price {
  display: inline-block;
  color: #fa7c00;
  font-size: .875rem;
  font-weight: 700;
  line-height: 14px;
  position: relative;
}
.product__item_price--old::before {
  position: absolute;
  content: '';
  width: 100%;
  height: 1px;
  background: #1f5c84;
  top: 6px;
}
.product__item_img {
  position: relative;
  margin: 15px 0 25px;
  width: 100%;
  height: 198px;
}
.product__item_img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.product__item_btn {
  width: 100%;
  height: 49px;
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 49px;
}
.product__item_block--btn {
  padding: 0 30px;
  width: 100%;
}
.product__item_block--list {
  padding: 0 30px;
  width: 100%;
  flex-grow: 2;
}
.products__wrapper {
  max-width: 1170px;
}
.products__container {
  padding: 0;
}
.product__item_alert {
  position: absolute;
  top: 28px;
  left: 0;
  width: 109px;
  height: 33px;
  border-radius: 0 5px 5px 0;
  text-align: center;
  color: #ffffff;
  font-size: .75rem;
  font-weight: 500;
  line-height: 33px;
  text-transform: uppercase;
}
.product__item_alert--hit {
  background-color: #fa7c00;
  background-image: linear-gradient(to bottom, rgba(174, 86, 0, 0.2) 0%, rgba(250, 124, 0, 0.2) 100%);
}
.product__item_alert--action {
  background-color: #d30000;
  background-image: linear-gradient(to bottom, rgba(174, 86, 0, 0.2) 0%, rgba(250, 124, 0, 0.2) 100%);
}
.product__item_price--new {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  top: 15px;
  right: 23px;
  width: 80px;
  height: 80px;
  background: url(../images/icons/price.png) no-repeat center;
  background-size: 100% 100%;
  color: #ffffff;
  font-size: .75rem;
  font-weight: 700;
  line-height: 14px;
}
.product__item_list {
  list-style: none;
  margin: 0;
  padding: 0 0 25px;
  text-align: left;
}
.product__list_item {
  position: relative;
  color: #000000;
  font-size: .875rem;
  font-weight: 500;
  line-height: 20px;
}
.product__list_item::before {
  width: 7px;
  display: inline-block;
  content: '';
  height: 7px;
  margin-right: 10px;
  background-color: #085d95;
  border-radius: 100%;
  position: relative;
  top: -1px;
}
.product__item_text--red {
  text-transform: uppercase;
  color: #d30000;
}


/*Wie*/
.wie {
  background-color: #f1f1f1;
  padding: 80px 0 85px;
}
.wie__list {
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  padding-top: 70px;
}
.wie__item {
  text-align: center;
  margin-bottom: 60px;
  width: 145px;
}
.wie__item_img {
  width: 80px;
  height: 80px;
  background: #e6e9eb;
  position: relative;
  margin: 0 auto 42px;
}
.wie__item_img img {
  position: absolute;
  right: -31px;
  bottom: -18px;
  transition: .1s ease-in-out;
}
.wie__item:hover .wie__item_img img {
  /* top: 50%;
  left: 50%; */
  /* transform: translate(-50%, -50%); */
  right: 0;
  bottom: 0;
}
.wie__item_title {
  display: block;
  margin-bottom: 5px;
  color: #000000;
  font-size: 1.125rem;
  line-height: 18px;
  font-weight: 500;
}
.wie__item_link {
  display: inline-block;
  color: #fa7c00;
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 18px;
  border-bottom: 1px dotted #fa7c00;
  cursor: pointer;
}
.wie__item_link:hover {
  border-color: transparent;
}
.wie__arrow {
  width: 20px;
  height: 26px;
  background: url(../images/svg/arrow-double.svg) no-repeat center;
  margin: 27px 35px 0 40px;
}
.wie__arrow--dn {
  display: none;
}



/*Calculator*/
.calc {
  padding: 85px 0 90px;
}
.calc__show-btn {
  display: none;
}
.calc__title {
  text-align: left;
  margin-bottom: 40px;
}
.calc__block {
  padding-right: 10px;
}
.step {
  width: 100%;
  box-sizing: border-box;
  border: 1px solid #c1c1c1;
  background-color: #ffffff;
  cursor: default;
  margin-bottom: 15px;
}
.step__num {
  width: 138px;
  height: 50px;
  background-color: #1f5c84;
  text-align: center;
  color: #ffffff;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 50px;
}
.step__title {
  flex-grow: 2;
  color: #1f5c84;
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 20px;
  text-transform: uppercase;
  display: block;
  margin-left: 18px;
}
.step__help span {
  display: block;
  margin-right: 10px;
  width: 36px;
  height: 36px;
  border-radius: 5px;
  background-color: #f3f3f3;
  color: #1f5c84;
  font-size: 1.875rem;
  font-weight: 500;
  line-height: 36px;
  text-align: center;
  cursor: pointer;
}
.step__help {
  position: relative;
}
.step__drop {
  position: absolute;
  z-index: 10;
  top: 90%;
  right: 10px;
  width: 240px;
  box-sizing: border-box;
  padding: 20px 10px 20px 20px;
  border-radius: 5px;
  background-color: #085d95;
  color: #ffffff;
  opacity: 0;
  visibility: hidden;
  transition: .15s ease-in-out;
}
.border-block__help .step__drop {
  right: 0;
}
.step__help:hover .step__drop, .border-block__help:hover .step__drop {
  opacity: 1;
  visibility: visible;
  top: 100%;
}
.border-block__sale {
  position: absolute;
  background: url(../images/icons/price.png) no-repeat center;
  background-size: 100% 100%;
  width: 50px;
  height: 50px;
  top: -20px;
  right: 55px;
  color: #ffffff;
  border-radius: 100%;
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  line-height: 50px;
}
.razmer__alert {
  color: #000000;
  font-size: .875rem;
  font-weight: 400;
  line-height: 18px;
  display: block;
  padding-left: 15px;
}
.razmer {
  margin-bottom: 10px;
  position: relative;
}
.razmer__input {
  width: 100%;
  height: 51px;
  border-radius: 5px;
  border: 1px solid #c1c1c1;
  background-color: #ffffff;
  box-sizing: border-box;
  text-align: center;
  outline: none;
}
.razmer--border .razmer__input {
  border: 1px solid #ff4a4a;
}
.razmer__span {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  width: 122px;
  height: 100%;
  box-sizing: border-box;  
  border: 1px solid #c1c1c1;  
  background-color: #f1f1f1;
  color: #000000;
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 18px;
  cursor: default;
}
.razmer--border .razmer__span {
  border: 1px solid #ff4a4a;
}
.razmer__span--left {
  border-radius: 5px 0 0 5px;
  border-right: none;
  left: 0;
}
.razmer--border .razmer__span--left {
  border-right: none;
}
.razmer__span--right {
  right: 0;
  border-radius: 0 5px 5px 0;
  border-left: none;
}
.razmer--border .razmer__span--right {
  border-left: none;
}
.calc__item {
  margin-bottom: 8px;
}
.radio {
  cursor: pointer;
  justify-content: flex-start;
  margin-bottom: 10px;
  margin-right: 15px;
}
.radio input {
  display: none;
}
.radio__custom {
  display: block;
  width: 29px;
  height: 29px;
  border-radius: 2px;
  border: 1px solid #c1c1c1;
  background: #ffffff;
  margin-right: 11px;
  flex-shrink: 0;
}
.radio:hover .radio__custom {
  border: 1px solid #1f5c84;
}
.radio__text {
  color: #000000;
  font-size: 1.125rem;
  font-weight: 500;
}
.radio input:checked ~ .radio__custom {
  background: url(../images/icons/check.png) no-repeat center, #fff;
}
.square {
  display: inline-block;
  width: 20px;
  height: 20px;
  box-sizing: border-box;
  border: 1px solid #c1c1c1;
  background-color: #ffffff;
  margin-left: 12px;
}
.grey-square {
  background-color: #cdcdcd;
}
.flex-wrap {
  flex-wrap: wrap;
}
.calc__color {
  justify-content: flex-start;
}
.calc__item_color {
  width: 50%;
}
.radio-img {
  display: block;
  width: 20%;
  text-align: center;
  margin-bottom: 32px;
  cursor: pointer;
}
.radio-img input[type='radio'] {
  display: none;
}
.radio-img__custom {
  width: 115px;
  height: 115px;
  border-radius: 100%;
  margin: 0 auto 20px;
  position: relative;
}
.radio-img__custom img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.radio-img input[type='radio']:checked ~ .radio-img__custom::after {
  position: absolute;
  content: '';
  width: 75px;
  height: 75px;
  top: 20px;
  left: 20px;
  background: url(../images/icons/accept.png) no-repeat center;
}
.radio-img__text {
  color: #000000;
  font-size: 1.125rem;
  font-weight: 500;
  text-transform: uppercase;
}
.radio-img:hover .radio-img__text {
  font-weight: 700;
}
.calc__profile {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}



.calc__result {
  padding-left: 15px;
  max-width: 400px;
  margin: 0 auto;
}
.calc__images {
  position: relative;
  margin-top: -10px;
  margin-bottom: 70px;
}
.calc__img--color {
  max-width: 100%;
}
.calc__img--profil {
  position: absolute;
  width: 180px;
  height: 180px;
  bottom: -26px;
  right: 0;
}
.border-block {
  position: relative;
  border: 2px dashed #1f5c84;
  padding: 0 25px 15px;
  margin-bottom: 40px;
}
.border-block__title {
  color: #000000;
  font-size: 1.125rem;
  font-weight: 700;
  display: inline-block;
  background: #fff;
  position: relative;
  top: -10px;
  padding-right: 5px;
}
.border-block__title::before {
  width: 5px;
  height: 100%;
  position: absolute;
  background: #fff;
  content: '';
  top: 0;
  left: -5px;
}
.border-block__line {
  display: block;
  color: #000000;
  font-size: .75rem;
  font-weight: 500;
  line-height: 24px;
}
.border-block__time {
  position: absolute;
  bottom: 20px;
  text-align: right;
  right: 25px;
  color: #008000;
  font-size: .75rem;
  font-weight: 500;
  line-height: 14px;
}
.border-block__help {
  position: absolute;
  top: 7px;
  right: 9px; 
}
.border-block__help span {
  display: block;
  width: 36px;
  height: 36px;
  border-radius: 5px;
  background-color: #f3f3f3;
  text-align: center;
  color: #1f5c84;
  font-size: 1.875rem;
  font-weight: 500;
  line-height: 36px;
}
.border-block__price {
  padding-top: 10px;
  text-align: center;
}
.calc__price {
  display: block;
  margin-bottom: 10px;
}
.calc__price--old {
  color: #a5a5a5;
  font-size: 1.125rem;
  font-weight: 400;
  text-decoration: line-through;
  padding-right: 11px;
}
.calc__price--new {
  color: #eb3434;
  font-size: 2.25rem;
  font-weight: 700;
}
.calc__price--new span {
  color: #000000;
  font-family: 'Tahoma';
  font-size: 1.625rem;
  font-weight: 500;
  display: inline-block;
  padding-left: 5px;
}
.calc__price_item {
  color: #a5a5a5;
  font-size: 1rem;
  font-weight: 400;
  line-height: 24px;
  padding: 0 4px;
  display: inline-block;
}
.calc__price--red {
  color: #eb3434;
  font-weight: 500;
}
.calc__count {
  margin-top: -20px;
  width: 100%;
  display: flex;
  margin-bottom: 15px;
}
.calc__count_btn {
  display: block;
  width: 59px;
  height: 44px;
  background-color: #f3f3f3;
  text-align: center;
  box-sizing: border-box;
  color: #000000;
  font-size: 1.875rem;
  font-weight: 500;
  line-height: 44px;
  text-transform: uppercase;
  cursor: pointer;
  border: 1px solid #c1c1c1;
  transition: .15s ease-in-out;
  user-select: none;
}
.calc__count_btn:hover {
  background: #d3d3d3;
}
.calc__count_btn:active {
  background: #f3f3f3;
}
.calc__count--minus {
  border-radius: 5px 0 0 5px;
  border-right: none;
}
.calc__count--plus {
  border-radius: 0 5px 5px 0;
  border-left: none;
}
.calc__count_input {
  flex-grow: 2;
  box-sizing: border-box;
  display: block;
  border: none;
  border-top: 1px solid #c1c1c1;
  border-bottom: 1px solid #c1c1c1;
  outline: none;
  text-align: center;
  color: #000000;
  font-size: 1.25rem;
  font-weight: 500;
  text-transform: uppercase;
}
.calc__btn {
  display: block;
  width: 100%;
  height: 59px;
  border-radius: 5px;
  color: #ffffff;
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 59px;
  text-transform: uppercase;
  text-align: center;
  cursor: pointer;
  margin-bottom: 13px;
}
.calc__btn--back {
  box-shadow: 0 5px 7px #1f5c84;
  background-color: #4e7696;
  background-image: linear-gradient(to bottom, rgba(13, 61, 93, 0.2) 0%, rgba(31, 92, 132, 0.2) 100%);
}
.calc__btn--cart {
  box-shadow: 0 5px 7px #984b00;
  background-color: #fa7c00;
  background-image: linear-gradient(to bottom, rgba(174, 86, 0, 0.2) 0%, rgba(250, 124, 0, 0.2) 100%);
}
.calc__content {
  padding-top: 60px;
}
.calc__content_title {
  display: block;
  margin-bottom: 20px;
  color: #000000;
  font-size: 1.125rem;
  font-weight: 500;
  flex-grow: 2;
}
.calc__table {
  width: 100%;
  min-width: 1000px;
  border-collapse: collapse;
  border-spacing: 0;
}
.calc__content_flex {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.calc__content_all {
  text-align: right;
  color: #00416b;
}
.calc__content_all:hover {
  text-decoration: underline;
}
.calc__table a:hover {
  text-decoration: underline;
}
.calc__table-container {
  overflow-x: auto;
  margin-bottom: 30px;
}
.calc__table-container::-webkit-scrollbar { width: 6px; height: 6px;}
.calc__table-container::-webkit-scrollbar-button {  display: none; }
.calc__table-container::-webkit-scrollbar-track {  background-color: #c1c1c1;}
.calc__table-container::-webkit-scrollbar-track-piece { background-color: #ffffff;}
.calc__table-container::-webkit-scrollbar-thumb { height: 20px; background-color: #c1c1c1; border-radius: 3px;}
.calc__table-container::-webkit-scrollbar-corner { background-color: #c1c1c1;}
.calc__table-container::-webkit-resizer { display: none;}
.calc__table tr:nth-child(odd) td {
  background-color: #f8f8f8;
}
.calc__table td {
  height: 28px;
  padding-left: 20px;
  box-sizing: border-box;
  color: #000000;
  font-size: .875rem;
  font-weight: 500;
}
.calc__content_text {
  color: #5b5b5b;
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 24px;
  padding-bottom: 12px;
  border-bottom: 1px solid #b3b3b3;
  margin: 0 0 12px;
}
.calc__content_text:last-child {
  border: none;
}




/*Woman*/
.woman {
  background: url(../images/woman-bg.png) no-repeat center, #1f5c84;
  background-size: cover;
}
.woman__title {
  margin: 0 0 25px;
  color: #ffffff;
  font-size: 1.875rem;
  font-weight: 700;
  line-height: 30px;
}
.woman__form {
  display: block;
}
.woman__input {
  display: block;
  width: 100%;
  box-sizing: border-box;
  height: 59px;
  border-radius: 5px;
  border: 1px solid #c1c1c1;
  background-color: #ffffff;
  margin-bottom: 11px;
  padding-left: 24px;
  color: #d8d8d8;
  font-size: 1.125rem;
  font-weight: 400;
  outline: none;
}
.woman__textarea {
  min-height: 175px;
  height: auto;
  resize: vertical;
  padding-top: 17px;
  margin-bottom: 19px;
}
.woman__submit {
  display: block;
  width: 378px;
  height: 63px;
  border: none;
  outline: none;
}
.woman__form_block {
  padding: 85px 0 100px;
}
.woman__img {
  position: relative;
}
.woman__img img {
  position: absolute;
  bottom: 0;
  right: 53px;
}


/*About*/
.about {
  padding: 85px 0 70px;
}
.about__title {
  margin-bottom: 35px;
}
.about__text {
  text-align: justify;
  margin: 0 0 25px;
  color: #5b5b5b;
  font-size: 1rem;
  font-weight: 500;
  line-height: 24px;
}



/*Bradns*/
.brands {
  padding: 80px 0 100px;
  background-color: #f8f8f8;
}
.brands__list {
  padding: 40px 0 0;
  /* display: flex;
  flex-wrap: wrap;
  justify-content: center; */
}
.brands__list .slick-dots {
  position: absolute;
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  width: 100%;
  left: 0;
  bottom: -10px;
}
.brands__list .slick-dots button {
  display: block;
  box-sizing: border-box;
  width: 15px;
  height: 15px;
  margin: 0 4px;
  border: 2px solid #eb7500;
  border-radius: 100%;
  font-size: 0;
  color: transparent;
  background: #fff;
  outline: none;
  cursor: pointer;
}
.brands__list .slick-dots .slick-active button {
  background: #eb7500;
  border: 2px solid #eb7500;
}
.brands__list .slick-dots button:hover {
  background: #eb7500;
}
.brand__container {
  box-sizing: border-box;
  margin-bottom: 20px;
}
.brand {
  width: 170px;
  height: 112px;
  border-radius: 5px;
  border: 1px solid #f3f3f3;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  transition: .1s ease-in-out;
  cursor: pointer;
}
.brand__img {
  filter: grayscale(100%);
  transition: .1s ease-in-out;
  opacity: 0.7;
}
.brand:hover {
  box-shadow: 0 0 35px rgba(0, 0, 0, 0.2);
}
.brand:hover .brand__img {
  filter: none;
  opacity: 1;
}



/*Ready*/
.product__item--ready {
  padding-top: 0;
}
.product__item--ready .product__item_img {
  margin-top: 0;
}
.product__item--ready .product__item_block--btn {
  padding-top: 15px;
}



/*Map*/
.map {
  padding: 80px 0 100px;
  background-color: #f8f8f8;
}
.map__flex {
  padding: 10px 0 15px;
}
.map__marker {
  display: flex;
  align-items: center;
  min-height: 35px;
  padding-left: 35px;
  color: #000000;
  font-size: 1rem;
  font-weight: 500;
  line-height: 18px;
  background: url(../images/svg/marker.svg) no-repeat center left;
  background-size: 24px 32px;
}
.map-container {
  height: 520px;
  background: #fff;
}



/*Bottom*/
.bottom {
  padding: 105px 0 60px;
}
.bottom__news {
  padding-right: 15px;
}
.bottom__form_container {
  padding-left: 30px;
  padding-top: 60px;
}
.bottom__news_nav {
  padding-bottom: 40px;
}
.bottom__news_arrow {
  display: inline-block;
  margin-right: 13px;
  width: 13px;
  height: 20px;
  background: url(../images/svg/prev.svg) no-repeat center;
  background-size: 13px 20px;
}
.bottom__news_arrow--next {
  transform: rotate(180deg);
}
.bottom__news_link {
  display: inline-block;
  margin-left: 12px;
  color: #b8b8b8;
  font-size: 1.125rem;
  font-weight: 700;
  line-height: 18px;
}
.bottom__news_link:hover {
  color: #686868;
}
.bottom__news_link--active, .bottom__news_link--active:hover {
  color: #000000;
  cursor: default;
}
.bottom__news_links {
  cursor: default;
}
.bottom__news_item {
  padding: 20px 19px 25px;
  background-color: #ffffff;
  margin-bottom: 25px;
}
.bottom__news_item:hover {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.25);
}
.bottom__news_img {
  padding-right: 17px;
  height: 165px;
  margin-bottom: 25px;
}
.bottom__news_img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.bottom__news_title {
  margin: -1px 0 10px;
  color: #1f5c84;
  font-size: 1rem;
  font-weight: 700;
  line-height: 18px;
  text-transform: uppercase;
}
.bottom__news_date {
  display: block;
  margin-bottom: 10px;
  color: #000000;
  font-size: .875rem;
  font-weight: 400;
  line-height: 14px;
}
.bottom__news_text {
  margin: 0 0 25px;
  color: #000000;
  font-size: .875rem;
  font-weight: 400;
  line-height: 20px;
}
.bottom-container {
  padding: 0;
}
.bottom__news_btn {
  display: block;
  height: 49px;
  line-height: 49px;
}
.bottom__form_title {
  display: block;
  color: #000000;
  font-size: 1.875rem;
  font-weight: 700;
  line-height: 30px;
  margin-bottom: 25px;
}
.bottom__form_label {
  width: 100%;
  display: block;
  position: relative;
  margin-bottom: 11px;
}
.bottom__form_input {
  display: block;
  width: 100%;
  box-sizing: border-box;
  height: 48px;
  border-radius: 5px;
  border: 1px solid #c1c1c1;
  background-color: #ffffff;
  padding-left: 80px;
  color: #d8d8d8;
  font-size: 1.125rem;
  font-weight: 400;
  outline: none;
}
.bottom__form_label span {
  position: absolute;
  top: 0;
  left: 0;
  width: 62px;
  height: 48px;
  background-color: #f8f8f8;
  border-radius: 5px 0 0 5px;
  border: 1px solid #c1c1c1;
  border-right: none;
  background-position: center;
  background-repeat: no-repeat;
}
.bottom__form_label--name span {
  background-image: url(../images/icons/name.png);
}
.bottom__form_label--phone span {
  background-image: url(../images/svg/phone-grey.svg);
}
.bottom__form_label--email span {
  background-image: url(../images/svg/mail-grey.svg);
}
.bottom__form_select {
  display: block;
  box-sizing: border-box;
  width: 100%;
  height: 59px;
  border-radius: 5px;
  border: 1px solid #c1c1c1;
  background: url(../images/icons/select.png) no-repeat 96% center, #ffffff;
  -ms-appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  padding-left: 24px;
  color: #000000;
  font-size: 1.125rem;
  font-weight: 400;
  cursor: pointer;
  outline: none;
  margin-bottom: 12px;
}
.bottom__form_select::-ms-expand {
  display: none;
}
.bottom__form_textarea {
  display: block;
  box-sizing: border-box;
  width: 100%;
  min-height: 135px;
  border-radius: 5px;
  border: 1px solid #c1c1c1;
  background-color: #ffffff;
  padding: 15px 24px;
  color: #d8d8d8;
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 24px;
  outline: none;
  resize: vertical;
  margin-bottom: 25px;
}
.bottom__form_btn {
  width: 48%;
  height: 63px;
  border-radius: 5px;
  color: #ffffff;
  font-size: 1.25rem;
  font-weight: 500;
  text-transform: uppercase;
  border: none;
  outline: none;
  cursor: pointer;
}
.bottom__form_btn--reset {
  box-shadow: 0 5px 7px #1f5c84;
  background-color: #446f91;
  background-image: linear-gradient(to bottom, rgba(13, 61, 93, 0.2) 0%, rgba(31, 92, 132, 0.2) 100%);
}
.bottom__form_btn--submit {
  box-shadow: 0 5px 7px #984b00;
  background-color: #fa7c00;
  background-image: linear-gradient(to bottom, rgba(174, 86, 0, 0.2) 0%, rgba(250, 124, 0, 0.2) 100%);
}



/*Footer*/
.footer-top {
  padding: 65px 0 75px;
  background-color: #1f5c84;
}
.footer__title {
  display: block;
  margin-bottom: 45px;
  color: #ffffff;
  font-size: 1.875rem;
  font-weight: 700;
  line-height: 24px;
}
.footer__text {
  margin: 0 0 20px;
  color: #ffffff;
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 24px;
}
.footer__list_item {
  padding-left: 46px;
  color: #ffffff;
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 24px;
  display: block;
  margin-bottom: 22px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.footer__list_item a {
  color: #ffffff;
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 24px;
  display: block;
  width: 100%;
}
a.footer__list_item {
  display: inline-block;
}
.footer__list_item a:hover, a.footer__list_item:hover {
  text-decoration: underline;
}
.footer__contacts {
  padding-right: 60px;
}
.footer__list_item--address {
  min-height: 33px;
  background: url(../images/svg/m-address.svg) no-repeat center left;
}
.footer__list_item--time {
  background: url(../images/svg/time.svg) no-repeat center left;
}
.footer__list_item--phone {
  min-height: 27px;
  background: url(../images/svg/phone-white.svg) no-repeat center left;
}
.footer__list_item--mail {
  min-height: 23px;
  background: url(../images/svg/mail-white.svg) no-repeat center left;
}
.footer__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 63px;
  font-size: .875rem;
  max-width: 365px;
  margin-top: 10px;
}
.footer__btn i {
  display: inline-block;
  width: 32px;
  height: 32px;
  margin-right: 11px;
  background: url(../images/svg/call-zam.svg) no-repeat center;
}
.footer__link {
  color: #ffffff;
  font-size: 1rem;
  font-weight: 500;
  line-height: 20px;
  display: block;
  margin-bottom: 15px;
}
.footer__link:hover {
  text-decoration: underline;
}
.footer__links {
  position: relative;
}
.footer__links_garant {
  position: absolute;
  right: 0px;
  bottom: -63px;
}
.footer__menu {
  padding-left: 30px;
}
.soc {
  padding-left: 20px;
}
.soc__block {
  padding: 23px 35px 23px 23px;
  border-radius: 5px;
  margin-bottom: 16px;
  background-color: #ffffff;
}
.soc__top {
  justify-content: flex-start;
}
.soc__img {
  width: 75px;
  height: 75px;
  margin-right: 17px;
  border-radius: 100%;
}
.soc__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.soc__link {
  color: #000000;
  font-size: 1.125rem;
  font-weight: 700;
  line-height: 24px;
}
.soc__text {
  margin: 15px 0 13px;
  padding-bottom: 12px;
  color: #000000;
  font-size: .875rem;
  font-weight: 400;
  line-height: 18px;
  border-bottom: 1px solid #c1c1c1;
}
.soc__count {
  display: block;
  margin-bottom: 13px;
  color: #b8b8b8;
  font-size: .875rem;
  font-weight: 500;
  line-height: 14px;
}
.soc__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 241px;
  height: 46px;
  border-radius: 5px;
  background-color: #0e4569;
  color: #ffffff;
  font-size: 1.125rem;
  font-weight: 500;
}
.soc__btn i {
  display: inline-block;
  margin-right: 10px;
  width: 21px;
  height: 11px;
  background: url(../images/icons/vk-white.png) no-repeat center;
}
.search {
  display: block;
  position: relative;
}
.search__input {
  display: block;
  box-sizing: border-box;
  width: 100%;
  height: 63px;
  border-radius: 5px;
  border: 3px solid #ffffff;
  background: transparent;
  padding-left: 30px;
  color: #ffffff;
  font-size: 1.125rem;
  font-weight: 400;
}
.search__input::-webkit-input-placeholder {
  color: #ffffff;
}
.search__input::-moz-placeholder {
  color: #ffffff;
}
.search__submit {
  position: absolute;
  width: 55px;
  height: 100%;
  background: url(../images/svg/search.svg) no-repeat center;
  border: none;
  top: 0;
  right: 0;
  cursor: pointer;
}




.footer-bottom {
  padding: 20px 0;
  background: #fff;
}
.copyright {
  width: 35%;
  margin-right: 10px;
}
.copyright span {
  color: #000000;
  font-size: .875rem;
  font-weight: 500;
  line-height: 16px;
  display: block;
}
.copyright__link {
  color: #eb7500;  
  font-size: .875rem;
  font-weight: 500;
  line-height: 16px;
  text-decoration: underline;
}
.copyright__link:hover {
  text-decoration: none;
}
.credits__item {
  display: inline-block;
  margin: 0 6px;
}
.socials__item {
  display: inline-block;
  margin: 0 8px;
}
.socials__item:hover {
  filter: grayscale(100%);
}
.socials__item--fb {
  width: 12px;
  height: 29px;
  background: url(../images/svg/fb.svg) no-repeat center;
  background-size: auto 29px;
}
.socials__item--tw {
  width: 26px;
  height: 22px;
  background: url(../images/icons/twitter.png) no-repeat center;
  background-size: 26px 22px;
}
.socials__item--skype {
  width: 25px;
  height: 25px;
  background: url(../images/icons/skype.png) no-repeat center;
  background-size: 25px 25px;
}
.socials__item--vk {
  width: 31px;
  height: 18px;
  background: url(../images/icons/vk.png) no-repeat center;
  background-size: 31px 18px;
}
.socials__item--youtube {
  width: 32px;
  height: 23px;
  background: url(../images/svg/youtube.svg) no-repeat center;
  background-size: 32px 23px;
}



/*Popup*/
.popup {
  position: fixed;
  z-index: 101;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  visibility: hidden;
  transition: .15s ease-in-out;
}
.popup--show {
  opacity: 1;
  visibility: visible;
}
.popup-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000000;
  opacity: 0.85;
}
.popup-block {
  position: relative;
  background: #fff;
  border-radius: 5px;
  max-height: 95vh;
  max-width: 815px;
  overflow-y: auto;
}
.popup-block::-webkit-scrollbar { width: 10px; height: 3px;}
.popup-block::-webkit-scrollbar-button {  display: none; }
.popup-block::-webkit-scrollbar-track {  background-color: #c1c1c1;}
.popup-block::-webkit-scrollbar-track-piece { background-color: #ffffff;}
.popup-block::-webkit-scrollbar-thumb { height: 20px; background-color: #c1c1c1; border-radius: 3px;}
.popup-block::-webkit-scrollbar-corner { background-color: #c1c1c1;}
.popup-block::-webkit-resizer { display: none;}
.popup__title {
  display: block;
  padding: 15px 35px 15px 73px;
  color: #4e4e4e;
  font-size: 1.875rem;
  font-weight: 700;
  border-bottom: 1px solid #c1c1c1;
  margin-bottom: 20px;
}
.popup-block__content {
  padding: 0 73px 35px; 
}
.popup__text {
  display: block;
  margin-bottom: 15px;
  color: #4e4e4e;
  font-size: 1rem;
  font-weight: 500;
  line-height: 22px;
}
.popup__form label {
  width: 100%;
}
.popup__submit {
  width: 287px;
  height: 66px;
  border: none;
  color: #ffffff;
  font-size: 1.25rem;
  font-weight: 500;
  margin-top: 20px;
}
.popup__check {
  display: flex;
  align-items: flex-start;
  margin-bottom: 20px;
}
.popup__check input[type='checkbox'] {
  display: none;
}
.popup__check_custom {
  display: block;
  box-sizing: border-box;
  width: 23px;
  height: 23px;
  border-radius: 5px;
  border: 1px solid #c1c1c1;
  background-color: #ffffff;
  flex-shrink: 0;
  cursor: pointer;
  margin-right: 12px;
}
.popup__check input[type='checkbox']:checked ~ .popup__check_custom {
  background: url(../images/icons/check.png) no-repeat center, #fff;
  background-size: 15px 11px;
}
.popup__check_text {
  padding-top: 3px;
  display: block;
  color: #000000;
  font-size: 1rem;
  font-weight: 500;
}
.popup__check_text a {
  color: #396587;
}
.popup__check_text a:hover {
  text-decoration: underline;
}
button[type='submit']:disabled {
  opacity: 0.4;
  cursor: default;
}

.cart__table-container {
  overflow-x: auto;
  margin: 28px 0 20px;
}
.cart__table {
  width: 100%;
  min-width: 600px;
  border-radius: 5px;
  border: 1px solid #c1c1c1;
  background-color: #ffffff;
  overflow: hidden;
}
.cart__table_caption, .cart__table_item {
  display: flex;
}
.cart__table_caption > div {
  background-color: #f8f8f8;
  height: 75px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #000000;
  font-size: .875rem;
  font-weight: 500;
  line-height: 16px;
  box-sizing: border-box;
  border-right: 1px solid #c1c1c1;
}
.cart__table_caption > div:last-child {
  border: none;
}
.cart__table-w20 {
  width: 17%;
}
.cart__table-w30 {
  width: 33%;
}
.cart__table-w10 {
  width: 10%;
}
.cart__table_w {
  width: 28px;
  height: 10px;
  display: block;
  background: url(../images/svg/razmer-w.svg) no-repeat center;
}
.cart__table_h {
  width: 10px;
  height: 28px;
  display: block;
  background: url(../images/svg/razmer-h.svg) no-repeat center;
}
.cart__table_c {
  display: block;
  width: 25px;
  height: 24px;
  background: url(../images/svg/count.svg) no-repeat center;
}
.cart__table_d {
  display: block;
  width: 18px;
  height: 22px;
  background: url(../images/svg/delete.svg) no-repeat center;
}
.cart__table_item > div {
  box-sizing: border-box;
  padding: 15px 0 25px;
  text-align: center;
  border-right: 1px solid #c1c1c1;
  border-bottom: 1px solid #c1c1c1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cart__table_item > div:last-child {
  border-right: none;
}
.cart__table_text {
  color: #000000;
  font-size: .875rem;
  font-weight: 500;
  line-height: 14px;
  display: block;
  position: relative;
  width: 100%;
}
.cart__table_item--delete {
  display: block;
  width: 17px;
  height: 17px;
  background: url(../images/svg/delete-x.svg) no-repeat center;
  cursor: pointer;
}
.cart__table_text img {
  position: absolute;
  top: 100%;
  left: 43%;
  margin-top: 5px;
}
.cart__table_result {
  display: flex;
}
.cart__table_result > div {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  border-right: 1px solid #c1c1c1;
  padding: 27px 0;
  text-align: center;
}
.cart__table_result > div:last-child {
  border: none;
}
.cart__table-w80 {
  width: 80%;
  text-align: right;
  padding-right: 10px;
  justify-content: flex-end;
}
.tar span {
  display: block;
  width: 100%;
  text-align: right;
  padding-right: 10px;
  color: #000000;
  font-size: .875rem;
  font-weight: 500;
  line-height: 18px;
}
.footer__contacts_img {
  display: none;
}
.menu--mobile, .butter {
  display: none;
}





/*Media*/
@media screen and (max-width: 1200px) {
  .title {
    font-size: 1.875rem;
  }
  .wie__arrow--dn {
    display: block;
  }
  .products, .wie, .calc, .about, .brands {
    padding: 50px 0 30px;
  }
  .products__list {
    padding-top: 0;
  }
  .wie__list {
    padding-top: 10px;
    flex-wrap: nowrap;
    width: 100%;
    overflow-x: auto;
    justify-content: flex-start;
  }
  .wie__list::-webkit-scrollbar { width: 6px; height: 6px;}
  .wie__list::-webkit-scrollbar-button {  display: none; }
  .wie__list::-webkit-scrollbar-track {  background-color: #c1c1c1;}
  .wie__list::-webkit-scrollbar-track-piece { background-color: #ffffff;}
  .wie__list::-webkit-scrollbar-thumb { height: 20px; background-color: #c1c1c1; border-radius: 3px;}
  .wie__list::-webkit-scrollbar-corner { background-color: #c1c1c1;}
  .wie__list::-webkit-resizer { display: none;}
  .wie__item, .wie__arrow {
    flex-shrink: 0;
  }
  .wie__item {
    margin-bottom: 25px;
  }
  .brands__list {
    /* padding-top: 0;
    overflow-x: auto;
    justify-content: flex-start;
    flex-wrap: nowrap; */
  }
  .brands__list::-webkit-scrollbar { width: 6px; height: 6px;}
  .brands__list::-webkit-scrollbar-button {  display: none; }
  .brands__list::-webkit-scrollbar-track {  background-color: #c1c1c1;}
  .brands__list::-webkit-scrollbar-track-piece { background-color: #ffffff;}
  .brands__list::-webkit-scrollbar-thumb { height: 20px; background-color: #c1c1c1; border-radius: 3px;}
  .brands__list::-webkit-scrollbar-corner { background-color: #c1c1c1;}
  .brands__list::-webkit-resizer { display: none;}
  .brand__container {
    width: 190px;
    flex-shrink: 0;
  }
  .header-content__flex {
    flex-direction: column;
  }
  .logo {
    margin-bottom: 20px;
  }
  .header-content__time {
    margin: 20px 0;
  }

}

@media screen and (max-width: 1100px) {
  .top-menu__item {
    display: none;
  }
  .top-menu {
    justify-content: flex-end;
  }
  .top-menu__phone {
    margin-right: 20px;
  }
  .top-menu-btn-cart {
    width: auto;
    padding: 0 15px ;
  }
  .menu__drop {
    flex-wrap: wrap;
    justify-content: flex-start;
    height: auto;
    padding: 15px;
  }
  .menu__drop_item {
    margin-bottom: 10px;
    margin-right: 15px;
    
  }
  .menu__drop_link {
    font-size: .75rem;
  }
  .butter {
    display: flex;
    align-items: center;
    flex-grow: 2;
    justify-content: flex-end;
    color: #ffffff;
    font-size: 1.125rem;
    font-weight: 700;
    cursor: pointer;
    margin-right: 30px;
  }
  .butter i {
    display: block;
    width: 21px;
    height: 4px;
    background: #fff;
    position: relative;
    margin-left: 9px;
  }
  .butter i::before {
    position: absolute;
    content: '';
    top: -7px;
    left: 0;
    width: 21px;
    height: 4px;
    background: #fff;
  }
  .butter i::after {
    position: absolute;
    content: '';
    bottom: -7px;
    left: 0;
    width: 21px;
    height: 4px;
    background: #fff;
  }
  .menu__catalog {
    font-size: 1.125rem;
    width: 160px;
  }
  .menu--mobile {
    display: block;
  }
  .close-menu {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 10px;
    right: 10px;
    background: url(../images/svg/delete-x.svg) no-repeat center;
    background-size: 20px 20px;
    cursor: pointer;
  }
  .header-content__btn {
    font-size: .6875rem;
    height: 48px;
  }
  .menu__links {
    z-index: 999;
    position: fixed;
    display: block;
    top: 0;
    right: -230px;
    transition: .2s ease-in-out;
    background: rgba(0, 0, 0, .9);
    width: 220px;
    box-sizing: border-box;
    padding: 27px;
  }
  .menu__links--open {
    right: 0;
  }
  .menu__item {
    display: block;
    font-size: .875rem;
    font-weight: 400;
    line-height: 24px;
  }
  .menu--mobile__mail {
    margin-top: 20px;
    display: block;
    color: #ffffff;
    font-weight: 400;
    font-size: .875rem;
  }
  .menu--mobile__phone {
    font-size: .875rem;
    font-weight: 400;
    color: #ffffff;
    display: block;
    margin-top: 10px;
  }
  .drop2.drop--show, .drop-card.drop--show {
    left: 0;
  }
  
}

@media screen and (max-width: 992px) {
  .woman__img {
    display: none;
  }
  .calc__result {
    padding-left: 0;
  }
  .bottom__form_container {
    padding: 20px 0 0 ;
  }
  .footer-bottom {
    display: none;
  }
  .soc, .footer__menu {
    display: none;
  }
  .footer__contacts_img {
    display: block;
    width: 80px;
    height: 80px;
    bottom: 90px;
  }
  .header-content__btn {
    width: 280px;
  }
  .popup-block {
    max-width: calc(100% - 40px);
    max-height: 90vh;
  }
  .popup-block__content {
    padding: 0 20px 55px;
  }
  .popup__title {
    padding: 20px;
  }
  .bottom__form_btns {
    flex-wrap: wrap;
  }
  .bottom__form_btn {
    width: 100%;
    max-width: 500px;
    margin-bottom: 15px;
    font-size: .875rem;
  }
  .popup__submit {
    max-width: 287px;
    width: auto;
    padding: 0 20px;
    font-size: .875rem;
  }
  .calc__count_btn {
    flex-shrink: 0;
  }
  .calc__count_input {
    width: 100%;
  }
  .footer__btn {
    font-size: .75rem;
  }
  .footer__btn i {
    background-size: 24px 24px;
    margin-right: 10px;
    margin-left: 10px;
  }
}



@media screen and (max-width: 800px) {
  .calc__show-btn {
    display: block;
    max-width: 350px;
    height: 59px;
    box-shadow: 0 5px 7px #1f5c84;
    border-radius: 5px;
    background-color: #4e7696;
    background-image: linear-gradient(to bottom, rgba(13, 61, 93, 0.2) 0%, rgba(31, 92, 132, 0.2) 100%);
    color: #ffffff;
    font-size: 1.25rem;
    font-weight: 500;
    line-height: 59px;
    text-transform: uppercase;
    text-align: center;
    cursor: pointer;
    margin: 0 auto 40px;
  }
  .calc__title {
    display: none;
  }
  .calc__block {
    padding: 0;
    box-sizing: border-box;
    max-height: 0;
    overflow: hidden;
    transition: 1s ease-in-out;
  }
  .map {
    padding: 50px 0 15px;
  }
  .bottom {
    padding: 50px 0;
  }
  .offer {
    width: 100%;
  }
  .offer__title {
    font-size: 1.5rem;
    line-height: 28px;
  }
  .offer__span1 {
    font-size: .875rem;
  }
  .offer__span2 {
    font-size: .75rem;
  }
  .offer__text {
    font-size: .875rem;
    line-height: 18px;
  }
  .offer__text span {
    font-size: .75rem;
  }
  .offer__text b {
    font-weight: 400;
  }
  .offer__btn {
    width: 150px;
    height: 38px;
    font-size: .625rem;
    line-height: 38px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .banner {
    height: 400px;
  }
  .woman__submit {
    max-width: 378px;
    width: 100%;
    box-sizing: border-box;
    padding: 0 20px;
    font-size: .8125rem;
  }
}

@media screen and (max-width: 700px) {
  .radio-img {
    width: 33.333%;
  }
  .map__flex {
    flex-direction: column;
    align-items: flex-start;
  }
  .razmer__span {
    width: 90px;
  }
  .calc__item {
    flex-wrap: wrap;
    justify-content: flex-start;
  }
  .razmer__alert {
    padding: 0;
  }
  .calc__item_color {
    width: 100%;
  }
  .calc__content_text {
    font-size: 1rem;
    line-height: 20px;
  }
}

@media screen and (max-width: 500px) {
  .radio-img {
    width: 50%;
  }
  .bottom .bottom__news {
    padding: 0;
  }
  .footer__btn {
    width: 100%;
  }
  .footer__contacts {
    padding-right: 0;
  }
  .offer {
    padding: 20px 20px 50px;
  }
  .offer__btn i {
    display: none;
  }
  .top-menu__phone_link {
    font-size: 1.1rem;
  }
  .butter {
    margin-right: 0;
  }
  .step__num {
    width: 80px;
    font-size: 1.125rem;
    flex-shrink: 0;
  }
  .step__help {
    flex-shrink: 0;
  }
  .top-menu__btn span {
    display: none;
  }
  .top-menu__container .wrapper {
    padding: 0;
  }
  .top-menu__btn i {
    margin-right: 0;
  }
  .header-content__btn {
    font-size: .625rem;
    height: 40px;
  }
  .header-content__btn i {
    background-size: 24px 24px;
  }
  .menu__wrapper {
    padding-left: 0;
  }
  .menu__drop {
    width: calc(100% + 15px);
    padding: 15px;
  }
  .drop, .drop2, .drop-card {
    width: 100%;
    box-shadow: 0 20px 20px 3px rgba(0, 0, 0, .8);
  }
  .drop {
    overflow: hidden;
  }
  .border-block__time {
    bottom: 0;
    line-height: 11px;
  }
  .woman .wrapper {
    padding: 0;
  }
}













